<div>
    <h1>{{postData.title}}</h1>
    <img width="500px" height="300px" src="https://images.unsplash.com/photo-1431887773042-803ed52bed26?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzNjg3NDEyMg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600">

    <p style="font-size:18px; margin-top: 2%;">{{postData.body}}</p>
</div>
<div class="row">
    <div class="col-md-10 col-sm-2 col-xs-6"></div>
    <div class="col-md-2 col-sm-2 col-xs-6">
        <div class="text-center mx-auto">
            <button mat-stroked-button color="primary" (click)='closeDialog()'>
                <span class="material-icons">arrow_back</span> Back
            </button>
        </div>
    </div>
    <div class="col-md-10 col-sm-2 col-xs-6">
    </div>
</div>